@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

body {
    font-family: "barlow", sans-serif;
    line-height: 1.7;
    color: #516171;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    color: #fcfcfc;
    
}

a {
    color: #092032;
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 500;
}



img {
    width: 100%;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.bg-cover {
    background-position: center !important;
    background-size: cover !important;
    background-position: center !important;
}

.intro {
    margin-bottom: 40px;
}

.intro h6 {
    font-weight: 400;
    color: #4cba4a;
}

.intro p {
    max-width: 500px;
    margin: auto;
}

/* NAVBAR */
.top-nav {
    background-color: #4cba4a;
    padding-top: 5px;
    padding-bottom: 5px;
}

.top-nav p {
    margin-bottom: 0%;
    display: inline-block;
    margin-right: 16px;
    color: white;
}

.top-nav i,
.top-nav span {
    vertical-align: middle;
}


.social-links a {
    width: 34px;
    height: 34px;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-flex;
    align-items: center;
    justify-content:center ;
    color: white;
    font-size: 20px;
    border-radius: 100%;
}

.social-links a:hover {
    background-color: white;
    color: #4cba4a;
}

.navbar {
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:active {
    color: #4cba4a;
}

.navbar-brand {
    font-weight: 700;
    font-size: 26px;
    color: #092032;
}

.navbar-brand span {
    color: #4cba4a;
}

/* BTN */
.btn {
    padding: 9px 24px;
    font-weight: 500;
}

.btn-brand {
    background-color: #4cba4a;
    color: white;
    border-color: #4cba4a;
}

.btn-brand:hover {
    color: white;
    background-color: #49a847;
}


/* SLIDER */
#hero-slider h1 {
    font-weight: 700 !important;
}
.slide1{
    background: linear-gradient(rgba(9, 32, 50, 0.3),rgba(9, 32, 50, 0.3)), url(../img/banner1.jpg);
}

.slide2{
    background: linear-gradient(rgba(9, 32, 50, 0.3),rgba(9, 32, 50, 0.3)), url(../img/banner2.jpg);
}

/* OWL CAROUSEL */
.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    width: 60px !important;
    height: 60px !important;
    display: grid;
    place-items: center;
    background-color: rgba(255, 255, 255, 0.3) !important;
    margin-top: -30px !important;
    color: white !important;
    font-weight: 700 !important;
    font-size: 12px !important;
    border-radius: 100px !important;
}

.owl-prev {
    left: 0;
}

.owl-next {
    right: 0;
}

.owl-next:hover,
.owl-prev:hover {
    background-color: #4cba4a !important;
}

/* INFOBOX */
.info-box {
    display: flex;
    align-items: center;
    line-height: 16px;
}

.info-box img {
    width: 90px;
    margin-right: 24px;
}

/* MILESTONE */
#milestone{
    background: linear-gradient(rgba(76, 186, 74, 0.9), rgba(76, 186, 74, 0.9)), url(../img/banner2.jpg);
}

#milestone .display-4,
#milestone p{
    color: white;
}

#milestone .display-4 {
    font-weight: 700;
}

/* SERVICES */
.service-box {
    padding: 32px;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.service-box img {
    width: unset;
}

.service-box h5 {
    margin-top: 24px;
    margin-bottom: 12px;
}

/* PROJECT */

#project-slider .owl-next,
#project-slider .owl-prev {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

#project-slider .owl-next:hover,
#project-slider .owl-prev:hover {
    background-color: #4cba4a !important;
}

.project {
    position: relative;
}

.project .overlay {
    background: linear-gradient(to bottom, rgba(9, 32, 50, 0), rgba(9, 32, 50, 0.8));
    position: absolute;
    width: 100%;
    height: 240px;
    bottom: 0;
    left: 0;
}

.project .content {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 32px;
}

.project h1,
.project h6 {
    color: white;
}

.project h6 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.project h6::before {
    content: '';
    height: 2px;
    width: 24px;
    background-color: #4cba4a;
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
}

/* REVIEW */
#reviews {
    background: linear-gradient(to bottom, rgba(9, 32, 50, 0.8), rgba(9, 32, 50, 0.8)), url(../img/banner1.jpg);
}

.review {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.review img {
    width: 85px !important;
    border-radius: 1000px;
    margin: auto;
}

.review h4 {
    margin-top: 16px;
}

.review h4,
.review p {
    color: white;
}

.review small {
    color: #4cba4a;
}

.review p {
    margin-top: 28px;
}

.owl-dot.active span {
    background-color: #4cba4a !important;
}

/* BLOG-POST */
.blog-post {
    position: relative;
}

.blog-post .tag {
    padding: 3px 10px;
    background-color: #4cba4a;
    color: white;
    border-radius: 100px;
    top: 20px;
    left: 20px;
    position: absolute;
}

.blog-post img {
    margin-bottom: 12px;
}

.blog-post h4 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.blog-post small {
    color: #4cba4a;
    text-decoration: underline;
    text-transform: uppercase;
}

/* FOOTER */
footer {
    padding-top: 80px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
    background: linear-gradient(to bottom, rgba(9, 32, 50, 0.8), rgba(9, 32, 50, 0.8)), url(../img/banner1.jpg);
}

footer .navbar-brand {
    color: white;
    margin-bottom: 24px;
    display: inline-block;
}

.footer-top{
    margin-bottom: 40px;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    padding-top: 20px ;
}

footer .social-links a {
    margin-left: 5px;
    margin: 5px;
}

/* FORM */
.form-control:focus {
    box-shadow: none;
    border-color: #4cba4a;
}
